<ul class="nav--actions">
    {% if user.is_authenticated %}
  <li class="logged-user">
    Witaj Agata
    <ul class="dropdown">
      <li><a href="#">Profil</a></li>
      <li><a href="#">Ustawienia</a></li>
      <li><a href="#">Wyloguj</a></li>
    </ul>
  </li>
    {% else %}
    <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
    <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
    {% endif %}
</ul>

