<ul class="nav--actions">
    {% if user.is_authenticated %}
  <li class="logged-user">
    Witaj {{ user }}
    <ul class="dropdown">
      <li><a href="{% url 'profile' %}">Profil</a></li>
      <li><a href="#">Ustawienia</a></li>
        {% if user.is_superuser %}
            <li><a href="/admin/">Panel administratora</a></li>
        {% endif %}
      <li><a href="/logout/">Wyloguj</a></li>
    </ul>
  </li>
    {% else %}
    <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
    <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
    {% endif %}
</ul>

