{% extends 'base.html' %}
{% load static %}
{% block header %}
    <header>
    <nav class="container container--70">
      {% include 'header_bar.html' %}
    <ul>
      <li><a href="/" class="btn btn--without-border active">Start</a></li>
      <li><a href="/#steps" class="btn btn--without-border">O co chodzi?</a></li>
      <li><a href="/#about-us" class="btn btn--without-border">O nas</a></li>
      <li><a href="/#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
      <li><a href="{% url 'add_donation' %}#donate" class="btn btn--without-border">Przekaż dary</a></li>
      <li><a href="/#contact" class="btn btn--without-border">Kontakt</a></li>
    </ul>
    </nav>
    </header>
{% endblock %}
{% block content %}
<h2>Profil</h2>
    <div>
    <p class="profile-info"><b>Imię</b>: {{ user.first_name }}</p>
    <p class="profile-info"><b>Nazwisko</b>: {{ user.last_name }}</p>
    <p class="profile-info"><b>E-mail</b>: {{ user.email }}</p>
    </div>

<h2>Twoje darowizny: </h2>
    <div>
    {% if not_taken_donations_amount != 0 %}
        <form method="post">
        {% csrf_token %}
        {% for donation in not_taken_donations %}
        <ul>
            {% include 'donation_list.html' %}
            <li class="donation-info">Odebrano (zaznacz jeśli darowizna została odebrana):
                <input type="checkbox" name="is_taken" value="{{ donation.id }}">
            </li><br><br>
        {% endfor %}
        <br>
            <li class="donation-info"><input type="submit" value="Aktualizuj"></li>
        </ul>
        </form>
    {% endif %}

    <br><br>
    {% for donation in taken_donations %}
    <ul class="donation-taken">
        <li class="donation-info"><b>Odebrane</b></li>
        {% include 'donation_list.html' %}
    </ul>
    {% empty %}
    <p class="donation-info"><i>Brak darowizn</i></p>
    {% endfor %}
    </div>
{% endblock %}